.navbar {
  overflow: hidden;
  background-color: var(--color-primary);
}

.navbar a {
  float: left;
  color: var(--color-background);
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: var(--color-primary);
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--color-secondary);
  border-radius: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-secondary);
  width: 100%;
  left: 0;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 33.33%;
  background-color: var(--color-secondary);
  max-height: 275px;
}

.column a {
  float: none;
  color: var(--color-background);
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: var(--color-primary);
}

h3 {
  color: var(--color-background);
}

@media only screen and (min-width: 25em) {

  .column {
    width: 100%;
    height: auto;
  }

}
