.card {
  border-color: var(--color-secondary);
  max-width: 300px;
}

.card:hover {
  border-color: var(--color-secondary);
}

.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);

  color: var(--color-background);
  border-radius: 15px;
  min-width: 200px;
}

.btn:hover {
  background-color: var(--color-primary);
}
