.container {
  position: relative;
  width: %50;
}

.container img {
  width: 100%;
  height: auto;
}

.button {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(100%, -60%);
  min-width: 240px;
}

.price {
  color: var(--color-secondary);
}

.product {
  cursor: pointer;
}

.overlay:hover {
  opacity: 0.5;
  background-color: rgba(0,0,255,0.5);
}

.detail {
  color: var(--color-secondary);
}
