.banner {
  background-color: var(--color-primary);
  color: var(--color-background);
  max-height: 500px;
}

h1 {
  color: var(--color-background);
}

.btn-ghost {
  color: var(--color-background);
  border-color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-background);
}
