html {
  font-family: sans-serif;
}

input,
select,
textarea {
  width: 5em;
  border: 2px solid #62c7c7;
  cursor: pointer;
}

input {
  width: 11em;
  border: 2px solid #62c7c7;
}

.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #62c7c7;
}

.error-message {
  display: none;
  background-color: #62c7c7;
  color: #fff;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

[type="radio"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 256 256'%3E%3Ccircle fill='%2362c7c7' cx='128' cy='128' r='70.4'/%3E%3C/svg%3E");
}

[type="checkbox"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%2362c7c7' stroke-miterlimit='10' stroke-width='50' d='M49.9 130.1l50.8 50.7L206.1 75.2'/%3E%3C/svg%3E");
}

.btn-order {
  background-color: var(--color-secondary);
  color: var(--color-background);
  border: none;
}

.btn-order:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}
