.button {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);

  color: var(--color-background);
  border-radius: 4px;
}

.button-ghost:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-background);
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-background);
}

.nxt, .can {
  background-color: var(--color-secondary);
}

.nxt:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.can:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
