.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);

  color: var(--color-background);
  border-radius: 15px;
}

.btn:hover {
  background-color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-background);
}

.icon:hover {
  shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
