:root {
  --color-primary: #1e2424;
  --color-background: #f8f8f8;
  --color-secondary: #62c7c7;
  --font-primary: "Lato", sans-serif;
  --weight-bold: 600;
  --weight-normal: 400;
}

html {
  font-family: var(--font-primary);
}

h1, h2 {
  color: var(--color-primary);
}

h4 {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

h6 {
  color: var(--color-secondary);
}

h2, h5, h6 {
  font-weight: var(--font-weight-normal);
}

a, cite {
  color: var(--color-secondary);
}

mark {
  background-color: var(--color-secondary);
}
