.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--color-primary);
  text-align: center;
}

p {
  color: var(--color-background);
}

.social {
  display: inline-block;
  color: var(--color-secondary);
}

.icon {
  background-color: var(--color-background);
  border-radius: 4px;
}

.icon:hover {
  background-color: transparent;
  cursor: pointer;
}

.facebook, .instagram, .twitter {
  display: inline-block;
}
